.card {
  display: flex;
  flex-direction: column;
  width: 22rem;
  height: 32 rem;
  border: 1px solid rgb(243, 209, 209);
  margin: auto;
  align-items: center;
  gap: 1rem;
  font-size: 1rem;
  padding: 1rem;
  box-shadow: 0px 0px 5px rgb(240, 193, 193);
  background-color: white;
}
.card-image {
  width: 8rem;
  height: 10rem;
  margin-top: 1em;
  background-color: antiquewhite;
}

.card:hover {
  box-shadow: 0px 0px 10px rgb(51, 48, 48);
  cursor: pointer;
}
.text-bold {
  font-weight: bold;
}

.icon-status {
  display: flex;
  flex-direction: row;
  justify-content: end;
  margin-left: 10rem;
  gap: 2rem;
  margin-right: 1rem;
}

@media (max-width: 600px) {
  .card {
    width: 16rem;
    height: 36rem;
    padding: 0.5rem;
  }
  .card-image {
    width: 7rem;
    height: 9rem;
  }
  .icon-status{
    gap: 1rem;
  }
}
