.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 5rem;
  background-color: rgb(63, 58, 58);
  color: rgb(238, 244, 247);
  margin: auto;
}
.cart-icon {
  padding: 0rem 2rem 0rem 2rem;
  font-size: 3rem;
}
.product-type {
  display: flex;
  justify-content: space-between;
  gap: 3rem;
  font-size: 2rem;
}
.product-link:hover {
  cursor: pointer;
  text-decoration: none;
  color: black;
}
a {
  color: inherit;
}
a:hover {
  color: black;
}
.cartItem {
  font-size: 1rem;
  color: rgb(240, 237, 237);
  position: absolute;
}

.addItem {
  padding: 1rem;
  background-color: blue;
}
.add-product {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 2rem;
}
.add-button{
  background-color: rgb(231, 231, 245);
  padding: 0.5rem;
  border-radius: 5px;
}

@media (max-width: 900px) {
  .product-type {
    font-size: 1.3rem;
    gap: 0.5rem;
  }
  .cart-icon {
    font-size: 1.5rem;
    padding: 0rem 0.8rem 0rem 0.8rem;
  }
  .header {
    height: 4rem;
    width: 100%;
  }
  .cartItem {
    font-size: 0.5rem;
  }
  .addItem {
    font-size: 0.8rem;
    padding: 0.3rem;
  }
  .add-button{
    font-size: 0.8rem;
    padding: 0.1rem;
  }
}

@media (max-width: 450px) {
  .product-type {
    font-size: 1rem;
    gap: 0.3rem;
  }
  .cart-icon {
    font-size: 1.2rem;
    padding: 0rem 0.3rem 0rem 0.3rem;
  }
  .header {
    height: 4rem;
    width: 100%;
  }
  .add-button{
    font-size: 0.7rem;
    padding: 0rem;
  }
}
