.footer-container {
    min-height: 75vh;
    position: relative;
  }
  
  .footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
  }